<span class="header">Goal:</span>
<p>Get three X's in a row (horizontal, vertical, or diagonal) 
before the computer gets three O's in a row.</p>
<span class="header">How to Play:</span>
<p>Place an X on a blank square, the computer will 
place an O on the board after you.</p>